-- Equipment entities
CREATE TABLE IF NOT EXISTS public.equipment_types (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.equipment_type_translations (
    id SERIAL PRIMARY KEY,
    type_id INTEGER REFERENCES public.equipment_types(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(type_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.equipment_brands (
    id SERIAL PRIMARY KEY,
    key VARCHAR(100) NOT NULL,
    name VARCHAR(100) NOT NULL
);

CREATE TABLE IF NOT EXISTS public.equipment_conditions (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.equipment_condition_translations (
    id SERIAL PRIMARY KEY,
    condition_id INTEGER REFERENCES public.equipment_conditions(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(condition_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.equipment_materials (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL,
    equipment_type_id INTEGER REFERENCES public.equipment_types(id) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS public.equipment_material_translations (
    id SERIAL PRIMARY KEY,
    material_id INTEGER REFERENCES public.equipment_materials(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(material_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.equipment_colors (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE,
    hex VARCHAR(7)
);

CREATE TABLE IF NOT EXISTS public.equipment_color_translations (
    id SERIAL PRIMARY KEY,
    color_id INTEGER REFERENCES public.equipment_colors(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(color_id, lang_code)
);

-- Horse entities
CREATE TABLE IF NOT EXISTS public.horse_colors (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE,
    hex VARCHAR(7)
);

CREATE TABLE IF NOT EXISTS public.horse_color_translations (
    id SERIAL PRIMARY KEY,
    color_id INTEGER REFERENCES public.horse_colors(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(color_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.horse_breeds (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.horse_breed_translations (
    id SERIAL PRIMARY KEY,
    breed_id INTEGER REFERENCES public.horse_breeds(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(breed_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.pony_breeds (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.pony_breed_translations (
    id SERIAL PRIMARY KEY,
    breed_id INTEGER REFERENCES public.pony_breeds(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(breed_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.horse_disciplines (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.horse_discipline_translations (
    id SERIAL PRIMARY KEY,
    discipline_id INTEGER REFERENCES public.horse_disciplines(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(discipline_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.horse_temperament (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.horse_temperament_translations (
    id SERIAL PRIMARY KEY,
    temperament_id INTEGER REFERENCES public.horse_temperament(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(temperament_id, lang_code)
);

-- Service & Trainer
CREATE TABLE IF NOT EXISTS public.service_specialties (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.service_specialty_translations (
    id SERIAL PRIMARY KEY,
    specialty_id INTEGER REFERENCES public.service_specialties(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(specialty_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.trainer_specialties (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.trainer_specialty_translations (
    id SERIAL PRIMARY KEY,
    specialty_id INTEGER REFERENCES public.trainer_specialties(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(specialty_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.trainer_languages (
    id SERIAL PRIMARY KEY,
    key VARCHAR(10) NOT NULL UNIQUE, 
    name VARCHAR(50) NOT NULL
);

CREATE TABLE IF NOT EXISTS public.trainer_certifications (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.trainer_certification_translations (
    id SERIAL PRIMARY KEY,
    certification_id INTEGER REFERENCES public.trainer_certifications(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(certification_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.countries (
    id SERIAL PRIMARY KEY,
    key VARCHAR(10) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.country_translations (
    id SERIAL PRIMARY KEY,
    country_id INTEGER REFERENCES public.countries(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(country_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.announcement_categories (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE,
    icon VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS public.announcement_category_translations (
    id SERIAL PRIMARY KEY,
    category_id INTEGER REFERENCES public.announcement_categories(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(category_id, lang_code)
);

CREATE TABLE IF NOT EXISTS public.forum_categories (
    id SERIAL PRIMARY KEY,
    key VARCHAR(50) NOT NULL UNIQUE,
    icon VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS public.forum_category_translations (
    id SERIAL PRIMARY KEY,
    category_id INTEGER REFERENCES public.forum_categories(id) ON DELETE CASCADE,
    lang_code VARCHAR(2) NOT NULL,
    name VARCHAR(100) NOT NULL,
    UNIQUE(category_id, lang_code)
);

-- Seed Data (minimal)
INSERT INTO public.equipment_types (key) VALUES ('saddle'), ('bridle') ON CONFLICT DO NOTHING;
INSERT INTO public.horse_colors (key, hex) VALUES ('black', '#000000'), ('white', '#ffffff') ON CONFLICT DO NOTHING;
INSERT INTO public.trainer_languages (key, name) VALUES ('en', 'English'), ('lv', 'Latvian') ON CONFLICT DO NOTHING;
INSERT INTO public.countries (key) VALUES ('LV'), ('LT'), ('EE') ON CONFLICT DO NOTHING;
